<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="http://10.239.177.85:8000/csrf2" method="post">
    <input type="text" name="uname">
    <input type="submit" value="提交">
</form>
</body>
</html>



<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="csrf2" method="post">
    <input type='hidden' name='csrfmiddlewaretoken' value='ZbnU6bY8qdgFiXOkjeSbvJNx8uuFkzFo' />
    <input type="text" name="uname">
    <input type="submit" value="提交">
</form>
</body>
</html>

                                              csrftoken=ZbnU6bY8qdgFiXOkjeSbvJNx8uuFkzFo
 <input type='hidden' name='csrfmiddlewaretoken' value='ZbnU6bY8qdgFiXOkjeSbvJNx8uuFkzFo' />
